<section id="about" class="about-me">
  <div class="about-me__container">
    <!-- Left: Colored Stickers -->
    <div class="about-me__stickers">
      <div class="about-me__sticker about-me__sticker--yellow">
        <img src="img/location.svg" alt="Based in Munich" class="about-me__sticker-icon">
        <span class="about-me__sticker-text">Based in Munich</span>
      </div>
      <div class="about-me__sticker about-me__sticker--blue">
        <img src="img/intro.svg" alt="Open to relocate" class="about-me__sticker-icon">
        <span class="about-me__sticker-text">Open to relocate</span>
      </div>
      <div class="about-me__sticker about-me__sticker--orange">
        <img src="img/bubble.svg" alt="Open to work remote" class="about-me__sticker-icon">
        <span class="about-me__sticker-text">Open to work remote</span>
      </div>
    </div>

    <!-- Right: Content -->
    <div class="about-me__content">
      <span class="about-me__label">WHO'S NAM?</span>
      <h2 class="about-me__title">About me</h2>
      <p class="about-me__text">
        Hey there, I'm Kai! With some information about yourself like what is your source of inspiration for improving your programming skills? Do you learn from other challenges or do you focus on video tutorials?
      </p>
      <p class="about-me__text">
        Let's collaborate and build something remarkable together!
      </p>
      <a href="#contact" class="about-me__button">Let's talk</a>
    </div>
  </div>
</section>
