<footer class="footer">
  <div class="footer__container">
    <div class="footer__container__top">
      <!-- Logo -->
      <div class="footer__logo">
        <img src="logo/logo.svg" alt="QT Logo" class="footer__logo-image">
      </div>

      <!-- Copyright -->
      <div class="footer__copyright">
        <span>© Quoc Nam Tran 2025</span>
      </div>
    </div>

    <div class="footer__container__bottom">
      <div class="footer__links">
        <a routerLink="/legal-notice" class="footer__link">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>

        <!-- GitHub Button -->
        <div class="footer__button-container">
          <img src="/img/footer/github.svg" alt="GitHub" class="footer__button-icon">
          <a href="https://github.com" target="_blank" class="footer__button">
            <span class="footer__button-text">{{ 'FOOTER.GITHUB' | translate }}</span>
          </a>
        </div>

        <!-- LinkedIn Button -->
        <div class="footer__button-container">
          <img src="/img/footer/linkedin.svg" alt="LinkedIn" class="footer__button-icon">
          <a href="https://linkedin.com" target="_blank" class="footer__button">
            <span class="footer__button-text">{{ 'FOOTER.LINKEDIN' | translate }}</span>
          </a>
        </div>

        <!-- Email Button -->
        <div class="footer__button-container">
          <img src="/img/footer/email.svg" alt="Email" class="footer__button-icon">
          <a href="mailto:contact@example.com" class="footer__button">
            <span class="footer__button-text">Email</span>
          </a>
        </div>
      </div>
    </div>  </div>
</footer>
