<footer class="footer">
  <div class="footer__container">
    <!-- Logo -->
    <div class="footer__logo">
      <img src="logo/logo.svg" alt="QT Logo" class="footer__logo-image">
    </div>

    <!-- Copyright -->
    <div class="footer__copyright">
      <span>© Quoc Nam Tran 2025</span>
    </div>

    <!-- Links -->
    <div class="footer__links">
      <a href="/legal-notice" class="footer__link">Legal Notice</a>
      <a href="https://github.com" target="_blank" class="footer__link">Github</a>
      <a href="https://linkedin.com" target="_blank" class="footer__link">LinkedIn</a>
      <a href="mailto:contact@example.com" class="footer__link">Email</a>
    </div>
  </div>
</footer>
