<header>
    <nav>
        <ul>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <a href="">About me</a>
            </li>
            <li>
                <a href="">Skills</a>
            </li>
            <li>
                <a href="">Projects</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <div>
                    <span>EN</span>
                    <button></button>
                    <span>DE</span>
                </div>
            </li>
        </ul>
    </nav>
</header>