@use '../../../styles/variables' as *;

// ========================================
// HEADER - Absolute Transparent Overlay
// ========================================

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: transparent;
  z-index: $z-fixed;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
}

// Logo
.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform $transition-base;

  &:hover {
    transform: scale(1.05);
  }
}

.header__logo-image {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

// Navigation
.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: $spacing-4xl;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  margin: 0;
}

.header__nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  overflow: hidden;
  color: $text-primary;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  text-decoration: none;
  transition: color $transition-base;
  z-index: 1;

  // Overlay slider animation - reveal from left to right
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: inset(0 100% 0 0); // Hidden - clipped from right
    transition: clip-path 300ms ease;
    z-index: -1;
  }

  &:hover::before {
    clip-path: inset(0 0 0 0); // Fully visible - wipe from left to right
  }

  &:hover {
    color: $text-primary; // Keep white, don't change to blue
  }

  // Individual overlay images
  &--about::before {
    background-image: url('/img/header/Color option 1/1.png');
    clip-path: inset(100% 0 0 0); // Hidden - clipped from bottom
  }

  &--about:hover::before {
    clip-path: inset(0 0 0 0); // Fully visible - wipe from bottom to top
  }

  &--skills::before {
    background-image: url('/img/header/Color option 1/2.png');
  }

  &--projects::before {
    background-image: url('/img/header/Color option 1/3.png');
  }

  &--contact::before {
    background-image: url('/img/header/Color option 1/4.png');
  }
}

// Language Switcher
.header__lang {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.header__lang-option {
  color: $text-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: color $transition-base;
  opacity: 0.6;

  &:hover {
    color: $primary-blue;
    opacity: 1;
  }

  &--active {
    color: $primary-blue;
    opacity: 1;
  }
}

.header__lang-divider {
  color: $text-primary;
  font-size: $font-size-base;
  opacity: 0.4;
}

// ========================================
// RESPONSIVE
// ========================================

@include mobile {
  .header__container {
    padding-left: $container-padding-x-mobile;
    padding-right: $container-padding-x-mobile;
    gap: $spacing-sm;
  }

  .header__logo-image {
    width: 35px;
    height: 35px;
  }

  .header__nav-link {
    font-size: $font-size-sm;
  }

  .header__lang {
    gap: 4px;
  }

  .header__lang-option,
  .header__lang-divider {
    font-size: $font-size-sm;
  }
}
