<section>
    <div class="social-icon">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="hero-container">
        <div class="top"></div>
            <div class="top-left">
                <button></button>
                <h1>Frontend</h1>
            </div>
            <div class="top-right">
                <img src="" alt="">
            </div>
        </div>
        <div class="bottom">
            <h1>DEVELOPER</h1>
            <button>Get in Touch</button>
        </div>
</section>