<section id="skills" class="skills">
  <div class="skills__container">
    <!-- Left: Skill Set Title -->
    <div class="skills__header">
      <span class="skills__label">MY STACK</span>
      <h2 class="skills__title">Skill set</h2>
    </div>

    <!-- Right: Description and Icons -->
    <div class="skills__content">
      <div class="skills__description">
        <p class="skills__text">
          Technologies I've been working with recently and am focused on mastering.
          I continuously track best practises and technologies and incorporate your approvals for
          improving your business with new technology.
        </p>
      </div>

      <div class="skills__icons">
        <div class="skills__icon">
          <img src="img/html.svg" alt="HTML" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/css.svg" alt="CSS" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/javascript.svg" alt="JavaScript" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/typescript.svg" alt="TypeScript" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/angular.svg" alt="Angular" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/firebase.svg" alt="Firebase" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/git.svg" alt="Git" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/rest-api.svg" alt="REST-API" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/scrum.svg" alt="Scrum" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="img/material_design.svg" alt="Material Design" class="skills__icon-image">
        </div>
      </div>
    </div>
    <div class="skills__badge__container">
      <div class="skills__badge">
        <span class="skills__badge-text">I'm for peel!</span>
      </div>
    </div>
  </div>
</section>
