<section id="skills" class="skills">
  <div class="skills__container">
    <!-- Left: Skill Set Title -->
    <div class="skills__header">
      <span class="skills__label">{{ 'SKILLS.LABEL' | translate }}</span>
      <h2 class="skills__title">{{ 'SKILLS.TITLE' | translate }}</h2>
    </div>

    <!-- Right: Description and Icons -->
    <div class="skills__content">
      <div class="skills__description">
        <p class="skills__text">
          {{ 'SKILLS.DESCRIPTION' | translate }}
        </p>
      </div>

      <div class="skills__icons">
        <div class="skills__icon">
          <img src="/img/skills/html.svg" alt="HTML" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/css.svg" alt="CSS" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/javascript.svg" alt="JavaScript" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/typescript.svg" alt="TypeScript" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/angular.svg" alt="Angular" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/firebase.svg" alt="Firebase" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/git.svg" alt="Git" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/rest-api.svg" alt="REST-API" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/scrum.svg" alt="Scrum" class="skills__icon-image">
        </div>
        <div class="skills__icon">
          <img src="/img/skills/material_design.svg" alt="Material Design" class="skills__icon-image">
        </div>
      </div>
    </div>
    <div class="skills__badge__container">
      <div class="skills__badge">
        <span class="skills__badge-text">{{ 'SKILLS.BADGE' | translate }}</span>
      </div>
    </div>
  </div>
</section>
